@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


body {
    margin: 0 5%;
    font-family: 'Inter', sans-serif;
    background-image: url(Assets/star-wars-backgrounds-25_bc15ec98.jpeg)
}

#grid {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "cabecalho cabecalho cabecalho "
        "esquerdo section1  direito"
        "esquerdo section1  direito"
        "esquerdo section2  direito"
        "esquerdo section2  direito"
        "rodape  rodape   rodape";
}



#cabecalho {
    margin-left: 5px;
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    gap: 40px;

}

#links__cabecalho {

    color: white;
    text-decoration: none;
    font-weight: bolder 800px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
}

.links__header {
    text-decoration: none;
    color: white;
    padding: 10px;


}

.links__header:hover {
    color: #FFE81F;
}

#navegacao__left {
    grid-area: esquerdo;
    display: flex;
    flex-direction: column;

}

#navegacao__right {
    grid-area: direito;
    display: flex;
    flex-direction: column;


}

#section1 {
    grid-area: section1;
    display: flex;
    color: aliceblue;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;

}

#titulo {
    text-transform: uppercase;

}

.container__texto {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.paragrafo__index__imagem {
    display: flex;

}

.section2 {
    grid-area: section2;
    display: flex;
    color: aliceblue;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;

}

#imagem2 {
    display: flex;


}

.container__texto_02 {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}


#rodape {
    grid-area: rodape;
    margin-top: 50px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

#texto__rodape {
    text-align: center;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #grid {
        grid-template-columns: repeat (2, 1fr);
        grid-template-areas:
            "cabecalho"
            "section1 section1"
            "section1 section1"
            "section2 section2"
            "section2 section2"
            "footer"

    }

    #section1,
    #imagem2,
    .section2,
    .paragrafo__index__imagem,
    .container__texto,
    .container__texto_02,
    #titulo,
    #texto__rodape,
    #links__cabecalho,
    #imagem {
        width: 50%;
        flex-wrap: wrap;
        display: flex;
        justify-content: left
    }

    #navegacao__right {
        display: none;
    }

    #navegacao__left {
        display: none;
    }
}